img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

button {
  opacity: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  width: auto;
  animation: fadeIn 4s forwards;
  -webkit-animation: fadeIn 4s forwards;
  -moz-animation: fadeIn 4s forwards;
  -o-animation: fadeIn 4s forwards;
  -ms-animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#start {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#elf {
  width: 10%;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 14%;
  width: 35%;
  border: solid white;
  background: rgba(128, 128, 128, 0.5);
  align-items: center;
}

#charName {
  font-size: 30px;
  color: white;
  padding: 8px;
  text-align: center;
  width: 27%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.bars {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: 70%;
  background: rgba(128, 128, 128, 0.5);
  flex-direction: column;
  align-items: stretch;
  border-left: solid white;
}

#hunger {
  border: solid white;
  display: flex;
  margin: 5px;
  flex-grow: 1;
}

#sleepy {
  border: solid white;
  display: flex;
  margin: 5px;
  flex-grow: 1;
}

#boredom {
  border: solid white;
  display: flex;
  margin: 5px;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  bottom: 30px;
  }

#hungerBar {
  background-color: red;
}

#sleepBar {
  background-color: red;
}

#boredBar {
  background-color: red;
}